---
layout: layout.njk
title: busan | bangsphoto
---
<div class="uk-grid-small uk-child-width-1-2@s" uk-grid="masonry: pack" uk-lightbox="animation: slide">
    {% for image in busan.images %}
    <a href="{{ image.path }}" data-caption="{{ image.caption }}">
        <img src="{{ image.path }}"
            alt="{{ image.caption }}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            loading="{{"eager" if loop.index <= 4 else "lazy"}}" />
    </a>
    {% endfor %}
</div>
{% include "totop.njk" %}
