img::selection {
    background: none;
}

img {
    animation-name: bp-fade;
    animation-duration: .4s;
    animation-timing-function: ease-out;
}

.bp-hidden {
    opacity: 0;
    transform: translateY(2vh);
    visibility: hidden;
    transition: opacity .7s ease-out, transform 0.4s ease-out;
    will-change: opacity, visibility;
}

.bp-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

@keyframes bp-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 639px) {
    .bp-bio {
        padding: 0 15px;
    }
}
