---
layout: layout.njk
title: about | bangsphoto
---
<div class="uk-grid-small" uk-grid>
    <div class="bp-bio uk-width-2-3@s uk-section uk-padding-large">
        <p class="uk-text-large uk-text-light">Hi, I'm Andrew.</p>
        <p>Seattle guy with camera in pocket – snapping pictures of live music and everyday life.</p>
        <p>Send me an email at <a href="mailto:andrew@bangsphoto.com">andrew@bangsphoto.com</a> if you're interested in me photographing your live music event.</p>
        <p class="uk-text-small uk-text-italic">All Images © Andrew Bangs 2024.</p>
        <a href="https://www.instagram.com/bangsphoto.music/" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
        <a href="mailto:andrew@bangsphoto.com" class="uk-icon-button" uk-icon="mail"></a>
    </div>
    <img
        class="uk-width-1-3@s uk-object-contain"
        src="/img/about/IMG_8324.jpg"
        alt="Andrew Bangs"
        width="1080px"
        height="1080px" />
</div>
