---
layout: layout.njk
active: music
---
<div class="uk-grid-small" uk-grid="masonry: pack" uk-lightbox="animation: slide">
    <a class="uk-width-1-1" href="{{ music.hero.path }}" data-caption="{{ music.hero.caption }}" >
        <img src="{{ music.hero.path }}"
            alt="{{ music.hero.caption }}"
            width="{{ music.hero.width }}"
            height="{{ music.hero.height }}"
            fetchpriority="high" />
    </a>
    <div class="uk-grid-small" uk-grid="masonry: pack">
        {% for image in music.images %}
        <a class="uk-width-1-2@s" href="{{ image.path }}" data-caption="{{ image.caption }}">
            <img src="{{ image.path }}"
                alt="{{ image.alt }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="{{"eager" if loop.index <= 4 else "lazy"}}" />
        </a>
        {% endfor %}
    </div>
</div>
{% include "totop.njk" %}
